{% extends "base.html" %}

{% block title %}
PW SJDM Tech-Ops Home Page
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Water Treatment Plant</h5>
              <p class="card-text">Monitoring and Maintenance</p>
              <a href="#" class="btn btn-info">Enter</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Pump Station and Distribution</h5>
              <p class="card-text">Monitoring and Maintenance</p>
              <a href="#" class="btn btn-info">Enter</a>
            </div>
          </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
          <h2 class="card-title">Newsfeed</h2>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item card">      
        <div class="card-body">
          <h5 class="card-title">Blog 1 title</h5>
          <h6 class="card-subtitle mb-2 text-muted">username</h6>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-danger">Read/Edit</a>
        </div>
        <div class="card-footer text-muted">
          mm/dd/yyyy, hh:mm AM/PM
        </div>
    </li><br>
    <li class="list-group-item card">      
      <div class="card-body">
        <h5 class="card-title">Blog 2 title</h5>
        <h6 class="card-subtitle mb-2 text-muted">username</h6>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-danger">Read/Edit</a>
      </div>
      <div class="card-footer text-muted">
        mm/dd/yyyy, hh:mm AM/PM
      </div>
    </li><br>
    <li class="list-group-item card">      
      <div class="card-body">
        <h5 class="card-title">Blog 3 title</h5>
        <h6 class="card-subtitle mb-2 text-muted">username</h6>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <h6 class="card-subtitle mb-2 text-muted">username</h6>
        <a href="#" class="btn btn-danger">Read/Edit</a>
      </div>
      <div class="card-footer text-muted">
        mm/dd/yyyy, hh:mm AM/PM
      </div>
    </li><br>      
  </ul>
  
</div>
{% endblock %}